<!DOCTYPE html>
<html>
<head>
  <title>AuctionSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="container">
  <div class="row">
    <ul class="nav nav-pills">
    
      <li role="presentation" class="active"><%= link_to("Home", '/') %></li>
      <li role="presentation"><%= link_to("Auctions", items_path) %></li>
      <li role="presentation"><%= link_to("Users", users_path) %></li>
  
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 .col-md-offset-3">

    <%= yield %>
      
      </div>
    </div>
  </div>
</body>
</html>
